# TODO: 🤖 Настройки Telegram Бота
s
# Токен от @BotFather
BOT_TOKEN=your_bot_token

# Твой Telegram ID (для уведомлений о заказах)
ADMIN_ID=123456789

# TODO: 🗄 Настройки базы данных PostgreSQL
# Логин от вашей БД
DB_USER=postgres
# Пароль от вашей БД
DB_PASS=your_secret_password

# Имя базы данных
DB_NAME=your_name

# Хост вашей БД
DB_HOST=your_host

# Порт (по умолчанию 5432)
DB_PORT=5432